

#all{
	border:10px white solid;
	background-color:white;
	
	
}
h1#title{
	text-align:center;
	color:white;
	
}
h1#link{
	color:black;
	}
	
.linkside{
	overflow:hidden;
	}

	
article{
	border-bottom:2px blue dashed;
	text-align:right;
	
	
}
section{
	border:4px #1D2475 solid;
	background-color:#CCCCCC;
	padding:5px;
	margin:10px;
	border-radius:15px;
	
}
.overall{
	margin-left:15%;
	margin-right:15%;
	background-image:url("blueTextureBG.jpg");
	}

	
* *:hover:not(section):not(header):not(aside):not(div){
background-color: yellow;
}

.profileimg{
	float:right;
	}
	
header{
	overflow:hidden;
	color:#B7B7B7;
	font-size:14pt;
	background-color:#8E8E8E;
	
}

aside{
border:4px darkblue solid;
border-radius:15px;
background-color:blue;
float:left;

}
